.Product{
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 5px;
    /* padding: 0 10px 0 10px; */
    margin-left: 15px;
    height:200px;
    width: 200px;
    overflow: hidden;
   
}