.blue{
    color: blue ;
    background: cadetblue;
}
.yellow{
    color: yellow;
    background: yellowgreen;
}
.green{
    color: greenyellow;
    background-color: green ;
}
.red{background: #000;
    color: red;

}